<div class="about-me">
  <a name="AboutMe" class="project-anchor">&nbsp;</a>
  <div class="content">
    <div class="my-info">
      <div>
        <img src="assets/images/Eu.jpg" class="me">
        <p class="my-name">João Fortunato Jr.</p>
        <p class="my-profession">Game Developer</p>
      </div>
      <div class="social-list">
        <a href="https://www.linkedin.com/in/joão-fortunato-jr" target="_blank" title="LinkedIn"><img src="assets/images/icons/linkedin.png"></a>
        <a href="https://github.com/JFortunatoJ" target="_blank" title="GitHub"><img src="assets/images/icons/github.png"></a>
        <a href="https://api.whatsapp.com/send?phone=5515981594590" target="_blank" title="Whatsapp"><img src="assets/images/icons/whatsapp.png"></a>
        <a href="https://www.instagram.com/j.fortunato.jr/" target="_blank" title="Instagram"><img src="assets/images/icons/instagram.png"></a>
        <a href="https://www.instagram.com/j.fortunato.jr/" target="_blank" title="CV"><img src="assets/images/icons/cv.png"></a>
      </div>
    </div>
    <div class="description">
      <p class="about-me-title">Hey There!</p>
      <p class="about-me-description">
        My name is João Fortunato Jr, I am a game developer and I live in Brazil. I decided in mid-2012 that I would
        turn my passion for games into my profession so
        I started to study and develop simple projects using Unity Engine. In 2014 I graduated from high school, in
        2015 in technical education in computer science, where I
        had my first solid contact with programming, and in 2016 i started my Digital Games degree at <a
        href="https://www.facens.br">FACENS</a>,
        graduating in 2018 when I started working as a unity developer.
        I love learning new things and challenges motivate me, I always try to develop the projects in which I
        participate in the best possible way, worrying not only about the development but also the management.
      </p>
      <br>
      <p class="about-me-description">
        Below you can check the projects in which I participated in the development, both professional and personal,
        as well as tutorial videos that I publish on youtube, not only to share knowledge but also as a source of
        learning about new subjects :D
      </p>
      <p class="about-me-description">
        Feel free to send a message if you want to know more about the projects or have any questions.
      </p>
    </div>
  </div>
</div>
