<div class="about-me">
  <a id="AboutMe" class="project-anchor">&nbsp;</a>
  <div class="content">
    <div class="my-info">
      <div>
        <img src="assets/images/Eu.png" class="me">
        <p class="my-name">João Fortunato Jr.</p>
        <p class="my-profession">Unity | Game Developer</p>
        <p class="my-nationality">Brazil</p>
<!--        <p class="freelancer">Freelancer</p>-->
      </div>
      <div class="social-list">
        <a href="https://www.linkedin.com/in/joão-fortunato-jr" target="_blank" title="LinkedIn"><img src="assets/images/icons/linkedin.png"></a>
        <a href="https://github.com/JFortunatoJ" target="_blank" title="GitHub"><img src="assets/images/icons/github.png"></a>
        <a download="CV_JoaoFortunatoJr.pdf" href="assets/CV_JoaoFortunatoJr.pdf" title="CV"><img src="assets/images/icons/cv.png"></a>
<!--        <a href="https://api.whatsapp.com/send?phone=5515981594590" target="_blank" title="Whatsapp"><img src="assets/images/icons/whatsapp.png"></a>-->
<!--        <a href="https://www.instagram.com/j.fortunato.jr/" target="_blank" title="Instagram"><img src="assets/images/icons/instagram.png"></a>-->
      </div>
      <div class="email"><label>joao.fortunatojr@hotmail.com</label></div>
    </div>
    <div class="description">
      <p class="about-me-title">Hey There!</p>
      <p class="about-me-description">
        My name is João Fortunato, I'm the father of three cats and I'm a game developer with over 5 years of experience using Unity to create a diverse range of projects,
        including virtual training simulations, problem-solving apps, and casual games for various platforms such as mobile, PC and VR devices like HTC Vive and Oculus Quest.
      </p>
      <br>
      <p class="about-me-description">
        I have a passion for learning and thrive on challenges. I welcome feedback and enjoy sharing my knowledge with other developers.
        My primary goal is to deliver high-quality work, paying attention to every detail to ensure an engaging and immersive player experience.
      </p>
      <br>
      <p class="about-me-description">
        If you're looking for a dedicated and talented game developer, I'd love to discuss how I can help bring your project to life or be part of your team :D
      </p>
    </div>
  </div>
</div>
