footer {
  background: linear-gradient(to bottom left, #002d37, #00232e);
  width: 100%;
  height: auto;
  text-align: center;
  font-size: min(17px, 3.5vw);
  color: white;
  display: block;
}

footer div{
  padding: 10px;
}

.footer-credits {
  font-size: min(15px, 2.5vw);
  font-style: italic;
}

a:link {
  color: #00a8e8;
}

a:visited {
  color: #00a8e8;
}

a:hover{
  transition: color 0.1s;
  color: #007ea7;
  /*text-decoration: underline;*/
}
