<div class="project-description">
  <div class="project-description-about">
    <label>About</label>
  </div>
  <div class="project-description-description">
    <label>O jogo gratuito Heróis da
      Pandemia tem como objetivo conscientizar o público sobre a propagação
      da COVID-19 de forma didática e divertida. Desenvolvido pelo Centro
      Universitário Facens em parceria com o Centro Universitário Newton
      Paiva, o game educa o jogador sobre as formas de transmissão do novo
      coronavírus, além de apresentar métodos de prevenção.
    </label>
    <br>
    <br>
    <label>Ao todo, são sete mini games:</label>
    <ul>
      <li>Lavar as mãos</li>
      <li>Desinfecção</li>
      <li>Distanciamento social</li>
      <li>Uso de máscaras</li>
      <li>Evitar tocar o rosto</li>
      <li>Fique em casa/quarentena</li>
      <li>Sistema imunológico</li>
    </ul>
  </div>
</div>
<!--div class="project-screenshots">
  <div class="screenshot fade">
    <div class="screenshot-image">
      <img src="../images/heroisPandemia/heroisPandemia_1.jpg">
    </div>
  </div>
  <div class="screenshot fade">
    <div class="screenshot-image">
      <img src="../images/heroisPandemia/heroisPandemia_2.jpg">
    </div>
  </div>
  <div class="screenshot fade">
    <div class="screenshot-image">
      <img src="../images/heroisPandemia/heroisPandemia_3.jpg">
    </div>
  </div>
  <div class="screenshot fade">
    <div class="screenshot-image">
      <img src="../images/heroisPandemia/heroisPandemia_4.jpg">
    </div>
  </div>
  <div class="screenshot fade">
    <div class="screenshot-image">
      <img src="../images/heroisPandemia/heroisPandemia_5.jpg">
    </div>
  </div>
  <div class="screenshot fade">
    <div class="screenshot-image">
      <img src="../images/heroisPandemia/heroisPandemia_6.jpg">
    </div>
  </div>
  <div class="screenshot fade">
    <div class="screenshot-image">
      <img src="../images/heroisPandemia/heroisPandemia_7.jpg">
    </div>
  </div>

  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>

  <div class="dot-container">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
    <span class="dot" onclick="currentSlide(5)"></span>
    <span class="dot" onclick="currentSlide(6)"></span>
    <span class="dot" onclick="currentSlide(7)"></span>
  </div>
</div -->
<div class="project-description">
  <div class="project-description-about">
    <label>Aspectos Técnicos</label>
  </div>
  <div class="project-description-description">
    <label>O jogo gratuito Heróis da
      Pandemia tem como objetivo conscientizar o público sobre a propagação
      da COVID-19 de forma didática e divertida. Desenvolvido pelo Centro
      Universitário Facens em parceria com o Centro Universitário Newton
      Paiva, o game educa o jogador sobre as formas de transmissão do novo
      coronavírus, além de apresentar métodos de prevenção.
    </label>
  </div>
</div>
