.content{
  background-color: rgba(0,0,0,0.3);
  width: 65%;
  height: fit-content;
  margin: 10px auto;
  border-radius: 10px;
  font-family: 'PT Sans', sans-serif;
  display: block;
}

@media (max-width: 768px){
  .content{
    width: 90vw;
  }

  .project-description {
    padding: 20px 5vw;
  }
}

.project-description {
  color: white;
  margin-left: 0;
  margin-right: 0;
  padding: 20px 2vw;
}

.project-description-about {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.project-description-text {
  text-align: justify;
  font-size: 18px;
}

.sub-section{
  font-weight: bold;
}

.project-description-text ul {
  list-style: inside;
  margin-left: 10px;
}

.banner{
  width: 256px;
  height: auto;
  float: right;
  margin-left: 100px;
}

.project-screenshots{
  margin: 0 auto;
  display: grid;
  grid-row-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 350px));
  justify-content: space-around;
  align-items: center;
  justify-items: center;
}

.project-screenshot{
  max-height: 500px;
  width: auto;
  border: 5px solid white;
  border-radius: 5px;
  margin: 0 auto;
}

.login-ranking{
  margin: 20px auto;
  display: grid;
  grid-row-gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 350px));
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
}

.login-ranking-image{
  max-height: 500px;
  width: auto;
  border: 5px solid white;
  border-radius: 5px;
  margin: 0 auto;
}

.section-sprite-atlas div{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 350px));
}

.section-sprite-atlas div img{
  width: auto;
  height: 450px;
  border-radius: 5px;
  border: 5px solid white;
}

.config{
  border: 3px solid white;
  border-radius: 5px;
  margin: 15px auto;
}
