.content{
  background-color: rgba(0,0,0,0.3);
  width: 65%;
  margin: 0 auto;
  border-radius: 10px;
  font-family: 'PT Sans', sans-serif;
}

.project-description {
  color: white;
  margin-left: 0;
  margin-right: 0;
  padding: 20px 50px;
}

.project-description-about {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
}

.project-description-text {
  text-align: justify;
  font-size: 15px;
}

.project-description-text ul {
  list-style: inside;
  margin-left: 10px;
}

.banner{
  width: 256px;
  height: auto;
  float: right;
  margin-left: 100px;
}

.project-screenshots{
  margin: 0 auto;
  display: grid;
  grid-row-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 350px));

  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
}

.project-screenshot{
  max-height: 550px;
  width: auto;
  border: 5px solid white;
  border-radius: 5px;
  margin: 0 auto;
}

.login-ranking{
  margin: 20px auto;
  display: grid;
  grid-row-gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 350px));
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
}

.login-ranking-image{
  max-height: 550px;
  width: auto;
  border: 5px solid white;
  border-radius: 5px;
  margin: 0 auto;
}

.config{
  border: 3px solid white;
  border-radius: 5px;
  margin: 15px auto;
}
