<div class="content">
  <div class="project-description">
    <label class="project-description-about">Sobre</label>
    <div class="project-description-text">
      <label>O jogo gratuito Heróis da
        Pandemia tem como objetivo conscientizar o público sobre a propagação
        da COVID-19 de forma didática e divertida. Desenvolvido pelo Centro
        Universitário Facens em parceria com o Centro Universitário Newton
        Paiva, o game educa o jogador sobre as formas de transmissão do novo
        coronavírus, além de apresentar métodos de prevenção. São sete mini games que, em cada uma das fases, trazem
        conteúdos sobre alguma ação que precisa ser tomada na prevenção da Covid-19, como lavagem das mãos,
        distanciamento
        social e uso de máscaras. Ao concluir a ação, o usuário passa de fase e continua com os exercícios de precaução
        contra o vírus.
        O trabalho de desenvolvimento do projeto durou 20 dias, e a equipe de produção do jogo foi composta por sete
        pessoas.
      </label>
      <br><br>
      <label><strong>Os temas dos mini games são:</strong></label>
      <ul>
        <li>Lavar as mãos</li>
        <li>Desinfecção</li>
        <li>Distanciamento social</li>
        <li>Uso de máscaras</li>
        <li>Evitar tocar o rosto</li>
        <li>Fique em casa/quarentena</li>
        <li>Sistema imunológico</li>
      </ul>
    </div>
  </div>
  <div class="project-screenshots">
    <img class="project-screenshot" *ngFor="let url of imagesUrl" src="{{url}}">
  </div>
  <!--<app-image-carousel [imagesUrls]="imagesUrl"></app-image-carousel>-->
  <div class="project-description">
    <label class="project-description-about">Porte para Web GL</label>
    <div class="project-description-text">
      <p>
        O jogo foi inicialmente desenvolvido para dispositivos móveis (Android e iOS), porém para facilitar a
        acessibilidade, decidimos portá-lo para Web, não sendo
        necessário realizar download direto, sendo possível jogá-lo tanto do navegador de um computador quanto de um
        celular.
      </p>
      <br>
      <p>
        O principal desafio foi otimizar o jogo para dispositivos móveis, porque até então o SDK Web GL da Unity não
        possui suporte para ser executado em celulares, como resultado,
        enquanto no navegador do computador o jogo executava com tranquilidade, em dispositivos móveis o framerate caía
        drasticamente, sendo praticamente injogável em alguns casos. Eu com os meus colegas então
        passamos alguns bons dias pesquisando, testando e gerando <strong>muitas</strong> builds, e como há
        relativamente pouco conteúdo na internet sobre o tema e essa foi basicamente nossa primeira experiência no
        desenvolvimento de um jogo para Web GL utilizando Unity e que precisaria funcionar em dispositivos móveis, fomos
        progredindo na base da tentativa e erro. Chegamos a cogitar em desenvolver o jogo
        utilizando outra engine como Play Canvas que é totalmente focada em jogos para web, porém o prazo de entrega não
        seria suficiente para aprendermos uma nova engine e desenvolver o jogo novamente nela.
      </p>
      <br>
      <p>
        Por fim conseguimos acertar na otimização do jogo e entregar dentro do prazo. Apesar das dificuldades, foi um
        ótimo aprendizado que nos ensinou muito
        sobre builds Web GL utilizando a Unity, as configurações necessárias e práticas de desenvolvimento e interação
        com os colegas que ajudam a agilizar o trabalho.
      </p>
      <img src="assets/images/herois-pandemia/config.png" class="config">
    </div>
  </div>
  <div class="project-description">
    <label class="project-description-about">Login com Facebook e Ranking</label>
    <div class="project-description-text">
      <p>O login com o Facebook foi utilizado para salvar os dados do jogador e para que o mesmo tenha acesso ao
        Ranking Global de Jogadores.</p>
      <p>O processo é dividido em duas etapas: na primeira o jogador realiza o login com o facebook no qual é
        adquirido o token de acesso, na segunda etapa é feita a autenticação com o backend do jogo utilizando
        o token do Facebook do jogador para identificá-lo e conseguir a sua lista de amigos que também jogam o jogo
        para popular o ranking de amigos.</p>
    </div>
    <div class="login-ranking">
      <img class="login-ranking-image" src="assets/images/herois-pandemia/heroisPandemia_12.jpg">
      <img class="login-ranking-image" src="assets/images/herois-pandemia/heroisPandemia_14.jpg">
    </div>
  </div>
  <div class="project-description">
    <label class="project-description-about">Otimização</label>
    <div class="project-description-text">

    </div>
  </div>
</div>

