<ng-container *ngIf="isVisible">
  <div class="modal">
    <div class="project-name">
      <label>{{project?.name}}</label>
    </div>
<!--    <div class="project-info">-->
<!--      <app-info [project]="project"></app-info>-->
<!--      <div class="project-access" *ngIf="project?.access.length > 0">-->
<!--        <fieldset>-->
<!--          <legend>Acesse aqui</legend>-->
<!--          <app-access *ngFor="let access of project?.access" [accessOptions]="access"></app-access>-->
<!--        </fieldset>-->
<!--      </div>-->
<!--    </div>-->
  </div>
  <div (click)="setVisibility(false)" class="overlay"></div>
</ng-container>
