.project-container {
  width: 100%;
  height: auto;
  display: grid;
  row-gap: 10px;
}

.project-name {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 95%;
  height: 65px;
  line-height: 65px;
  text-align: center;
  border-radius: 10px;
  background: linear-gradient(#73F7E4, #10AAAD);
}

.project-name label {
  color: white;
  font-size: 40px;
  text-shadow: 4px 2px 2px #222222;
}

.project-info {
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  border-radius: 10px;
  row-gap: 10px;
  padding: 20px 0;

  /*background: linear-gradient(to bottom left, #216ea8, #1d737c);*/
  background-image: url('~src/assets/images/herois-pandemia/heroisPandemia_Background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

.project-access{
  background: linear-gradient(#73F7E4, #10AAAD);
  border-radius: 10px;
  padding: 10px;
  margin: 0 auto;
  width: max-content;
  display: grid;
  grid-gap: 50px;
  grid-auto-flow: column dense;
  justify-content: space-evenly;
}
