/* Conteúdo */
.content {
  height: auto;
  width: 85%;
  display: grid;
  grid-row-gap: 10px;
  margin-bottom: 75px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  padding: 1em;
}

p{
  font-size: 17px;
}

a:link {
  color: #00a8e8;
}

a:visited {
  color: #00a8e8;
}

li{
  margin-left: 30px;
}
