<div class="project" id="RoadStar">
  <div class="project-info-image">
    <a href="herois_pandemia.html"><img src="assets/images/projectsThumbs/roadstar.png"></a>
    <div class="project-name"><label>Road Star</label></div>
  </div>
  <div class="project-info-tags">
    <label class="project-tag" style="background-color: #09a9a9">Unity</label>
    <label class="project-tag" style="background-color: #e33939">C#</label>
    <label class="project-tag" style="background-color: #00619e">Mobile</label>
    <label class="project-tag" style="background-color: darkgoldenrod">3D</label>
  </div>
  <div class="project-info-description">
    <label><strong>Road Star</strong> is a 3D mobile racing game with slot car mechanics based
      on the famous Brazilian rock band Mamonas Assassinas.
    </label>
  </div>
  <div class="project-info-contributions">
    <label lang="en">My main contributions:</label>
    <ul>
      <li lang="en">Gameplay Mechanics</li>
      <li lang="en">Level Editor</li>
      <li lang="en">Implementation of Animations</li>
      <li lang="en">Optimization</li>
    </ul>
  </div>
</div>
