/* Conteúdo */
.content {
  height: auto;
  width: 90vw;
  display: grid;
  grid-row-gap: 70px;
  margin-bottom: 75px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .content {
    grid-row-gap: 30px;
  }
}
