<!--<div class="navBar" id="navBar">-->
<header>
  <nav>
    <div class="warning-container">
      <label>Under Construction</label>
<!--      <img src="assets/images/icons/under-construction.png">-->
    </div>
    <!--    <div class="logo">-->
    <!--      <div><label>João Fortunato Jr.</label></div>-->
    <!--    </div>-->
    <div class="mobile-menu">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
    <ul class="nav-list">
      <li><a href="#Home">Home</a></li>
      <li><a href="#ProfessionalProjects">Professional Projects</a></li>
      <li><a href="#PersonalProjects">Personal Projects</a></li>
      <!--<li><a href="#Tutorials">TUTORIALS</a></li>-->
      <li><a href="#AboutMe">About Me!</a></li>
    </ul>
  </nav>
</header>
<!--</div>-->
