* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
  background-color: #1c2b2d;
  min-width: 320px;
  min-height: 453px;
  overflow-y: scroll;
  display: block;
  /*font-family: 'Patrick Hand', cursive;*/
  font-family: 'PT Sans', sans-serif;
}

.project-anchor {
  position: absolute;
  left: 0;
  top: -50px;
}
