* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  margin-right: auto;
  margin-left: auto;
}

/*::-webkit-scrollbar {*/
/*  display: none;*/
/*}*/

body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  background: linear-gradient(to bottom left, #001d27, #00171f) no-repeat fixed;
  /*min-width: 320px;*/
  /*min-height: 453px;*/
  display: block;
  font-family: 'PT Sans', sans-serif;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1000px) {
}

.project-anchor {
  position: absolute;
  left: 0;
  top: -50px;
}
