* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  height: 100vh;
}

/*::-webkit-scrollbar {*/
/*  display: none;*/
/*}*/

body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  background: linear-gradient(to bottom left, #001d27, #00171f) no-repeat fixed;
  min-width: 320px;
  min-height: 453px;
  display: block;
  font-family: 'PT Sans', sans-serif;
}

.project-anchor {
  position: absolute;
  left: 0;
  top: -50px;
}
