<div class="projects-content" id="Professional">
  <a name="ProfessionalProjects" class="project-anchor">&nbsp;</a>
  <div class="prof-projects-name">
    <label lang="en">Professional Projects</label>
  </div>
  <div class="projects-container">
    <app-content-projects-project *ngFor="let project of professionalProjects" [project]="project"></app-content-projects-project>
  </div>
</div>
<div class="projects-content" id="Personal">
  <a name="PersonalProjects" class="project-anchor">&nbsp;</a>
  <div class="personal-projects-name">
    <label>Personal Projects</label>
  </div>
  <div class="projects-container">
    <app-content-projects-project *ngFor="let project of personalProjects" [project]="project"></app-content-projects-project>
  </div>
</div>
